@import "tailwindcss";

@layer base {
  /* 設定底層背景色、防下拉露餡、禁雙擊縮放 */
  html,
  body {
    background-color: #f4f4f5;
    margin: 0;
    padding: 0;
    touch-action: manipulation;
    -webkit-touch-callout: none;
  }

  input,
  textarea,
  button,
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }

  input::placeholder,
  textarea::placeholder {
    color: #a1a1aa !important; 
    opacity: 1 !important;    
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}